# Como cree mis tablas en DB Brower for SQLite

In [ ]:
import sqlite3

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('Pokemon')


# Se crea un cursor para ejecutar comandos SQL
cursor = conexion.cursor()

# Crear tabla Pokemones
cursor.execute('''
CREATE TABLE Pokemones(
    id_pokemon INTEGER PRIMARY KEY,
    pokemon_nombre VARCHAR,
    tipo VARCHAR,
    habilidad VARCHAR,
    estadisticas VARCHAR
)
''')

#Crear tabla entrenadores
cursor.execute('''
CREATE TABLE Entrenadores(
    id_entrenador INTEGER PRIMARY KEY,
    nombre VARCHAR,
    edad INTEGER,
    ciudad VARCHAR,
    medallas VARCHAR
)
''')

#Crear tabla Pokentrenador
cursor.execute('''
CREATE TABLE Pokentrenador(
    id_pokemon INTEGER,
    id_entrenador INTEGER,
    PRIMARY KEY (id_pokemon, id_entrenador),
    FOREIGN KEY (id_pokemon) REFERENCES pokemones(id_pokemon),
    FOREIGN KEY (id_entrenador) REFERENCES entrenadores(id_entrenador)
)
''')

# Crear tabla de batallas
cursor.execute('''
CREATE TABLE batallas( 
    batalla_id INTEGER PRIMARY KEY,
  id_entrenador1 INTEGER,
  id_pokemon1_1 INTEGER,
  id_pokemon1_2 INTEGER,
  id_pokemon1_3 INTEGER,
  id_entrenador2 INTEGER,
  id_pokemon2_1 INTEGER,
  id_pokemon2_2 INTEGER,
  id_pokemon2_3 INTEGER,
  ganador INTEGER,
  fecha DATE,
  resultado VARCHAR,
  FOREIGN KEY (id_entrenador1) REFERENCES entrenadores(id_entrenador),
  FOREIGN KEY (id_pokemon1_1) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (id_pokemon1_2) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (id_pokemon1_3) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (id_entrenador2) REFERENCES entrenadores(id_entrenador),
  FOREIGN KEY (id_pokemon2_1) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (id_pokemon2_2) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (id_pokemon2_3) REFERENCES pokemones(id_pokemon),
  FOREIGN KEY (ganador) REFERENCES entrenadores(id_entrenador)
)
''')

# Guardar cambios y cerrar la conexión
conexion.commit()
conexion.close()

# Utilizando consultas dentro de la base de datos

In [ ]:
#Agregando datos de batallas en la tabla "batallas"

cursor.execute('''
INSERT INTO batallas (batalla_id, id_entrenador1, id_pokemon1_1, id_pokemon1_2, id_pokemon1_3, id_entrenador2, id_pokemon2_1, id_pokemon2_2, id_pokemon2_3, ganador, fecha, resultado) VALUES
(1, 1, 2, 4, 10, 2, 3, 7, 11, 1, '2024-07-22', 'Paul Scholes ganó usando Ivysaur, Charmander y Caterpie contra Venusaur, Squirtle y Metapod'),
(2, 3, 6, 8, 12, 4, 18, 23, 24, 3, '2024-07-23', 'Cristiano Ronaldo ganó usando Charizard, Wartortle y Butterfree contra Pidgeot, Ekans y Arbok'),
(3, 2, 21, 27, 28, 5, 1, 5, 9, 5, '2024-07-24', 'Luis Jara ganó usando Bulbasaur, Charmeleon y Blastoise contra Spearow, Sandshrew y Sandslash')
''')

In [ ]:
#Agregando pokemones a la tabla "pokemones" 

cursor.execute('''
INSERT INTO pokemones (id_pokemon, pokemon_nombre, tipo, habilidad, estadisticas) VALUES
(1, 'Bulbasaur', 'Planta/Veneno', 'Clorofila', 'HP: 45, Ataque: 49, Defensa: 49'),
(2, 'Ivysaur', 'Planta/Veneno', 'Clorofila', 'HP: 60, Ataque: 62, Defensa: 63'),
(3, 'Venusaur', 'Planta/Veneno', 'Clorofila', 'HP: 80, Ataque: 82, Defensa: 83')
''')

In [ ]:
# Agregando entrenadores a la tabla "entrenadores"

cursor.execute('''
INSERT INTO entrenadores (id_entrenador, nombre, edad, ciudad, numero_medallas) VALUES
(1, 'Paul Scholes', 49, 'Salford', 23),
(2, 'Bruno Fernandes', 29, 'Oporto', 4),
(3, 'Cristiano Ronaldo', 39, 'Lisboa', 19),
(4, 'Lionel Messi', 36, 'Rosario', 25),
(5, 'Luis Jara', 34, 'Asunción', 17)
''')

In [ ]:
# Agregando pokemones a los entrenadores

cursor.execute('''
INSERT INTO pokentrenador (id_pokemon, id_entrenador) VALUES
(1, 5),  -- Bulbasaur
(5, 5),  -- Charmeleon
(9, 5),  -- Blastoise
(33, 5), -- Nidorino
(17, 5), -- Pidgeotto
(15, 5); -- Beedrill
''')

In [ ]:
# Eliminar tablas 

cursor.execute('''
DROP TABLE IF EXISTS batallas
''')

In [ ]:
# Cantidad de pokemones por tipo

cursor.execute('''
SELECT tipo, COUNT(tipo)
FROM pokemones
GROUP BY tipo
''')

In [ ]:
# Eliminando pokemones

cursor.execute('''
DELETE 
FROM pokemones 
WHERE id = 1
''')

In [ ]:
#Actualizando datos dentro de la tabla entrenadores

cursor.execute('''
UPDATE entrenadores
SET numero_medallas = 21
WHERE id_entrenador = 1
''')